*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#heading{
    background-color: rgb(5, 5, 69);
    color: white;    
    padding: 15px;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 50%; */
    cursor: pointer;
    background-color: rgb(5, 5, 69);
}

img{
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 5rem;
    margin-top: 5rem;
}

#user-score, #comp-score{
    font-size: 2rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
 color: white;
 background-color: rgb(5, 5, 69);   
 font-size: 1.5rem;
 display: inline;
 padding: 15px;
 border-radius: 2rem;
}
